/* BuyingSpaceNav */
.BuyingSpaceNav{
    padding: 10px;
  }
  .BuyingSpaceNav span{
    color: #666666;
    display: inline;
    padding: 11px;
  }
  .BuyingSpaceNav span a{
    display: inline;
    padding: 11px;
  }
  .BuyingSpaceNav span a:hover{
    color: #1488e1;
    cursor: pointer;
    border-bottom: 2px solid #1488e1;
  }
  .BuyingSpaceNavActive{
   
    border-bottom: 2px solid #1488e1;
  }
  .BuyingSpaceNavActive a{
    color: #1488e1 !important;
  }